<div>
  <app-tabs>
    <app-tab title="Timers">
      <h1>Timers</h1>
      <app-timer
        *ngFor="let duration of durations"
        (onComplete)="onCompletTimer()"
        [init]="duration"
      ></app-timer>
    </app-tab>
    <app-tab title="Crono"> Chrono description </app-tab>
    <app-tab title="Alarm"> Alarm description </app-tab>
    <!-- <app-tab title="others"> Alarm description </app-tab> -->
  </app-tabs>
  <button class="add" (click)="handleClickShowTimer()">+</button>
  <app-alert-view
    [hidden]="!showAlertView"
    (emitCancel)="onEmitCancel()"
    (emitTime)="onEmitTime()"
  >
    <h1 head>Add new timer</h1>
    <div class="message">
      <label>Set the number of seconds for your timer</label>
      <input [(ngModel)]="time" type="number" />
    </div>
    <div class="btns">
      <button class="cancel-button" (click)="onClickCancel()">Cancel</button>
      <button class="btn-ok" (click)="onSubmitTime()">Ok</button>
    </div>
  </app-alert-view>
  <app-alert-view [hidden]="!showAlertTimerFinished">
    <h1 head>End Timer!</h1>
    <div class="message">
      <p>The timer was finished !</p>
    </div>
    <div class="btns">
      <button class="cancel-button" (click)="onClickCanlTimerWasFinished()">
        Cancel
      </button>
    </div>
  </app-alert-view>
</div>
